@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

img{
    position: absolute;
    z-index: -1;
    object-fit: cover;
    max-width: 100%;
    min-height: 100vh;
    filter: opacity(0.8);
}

span{
    font-size: 2rem;
}

h1{
    font-size: 3rem;
    text-align: center;
}

h2{
    font-size: 2rem;
    text-align: center;
}

p{
    position: absolute;
    bottom: 10px;
}

.block{
    margin: 0 10px;
}
.card{
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(2px);
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}
